<div class="navbar">
  <div class="navbar-inner navbar-on-center">
    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
    <div class="left sliding">
      <a href="<%= back %>" class="link"><i class="icon icon-back-blue"></i><span>Back</span></a>
    </div>
    <div class="center sliding"><%= title %></div>
  </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <div class="page page-on-center" data-page="index">
    <div class="page-content">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
</div>

