<div class="book-info toolbar-through">
  <% if(bookexists) { %>
  <div class="content-block">
    <div class="content-block-inner banner">
      <div class="image"><img src="<%= bookjson.images.large %>" /></div>
      <div class="title"><%= bookjson.title %></div>
      <div class="author"><%= bookjson.author.join(', ') %></div>
    <% if (cancheck) { %>
    <div class="row">
      <div class="col-50">
        <a class="link button" id="markbook">
          <i class="icon ion-ios7-location"></i>
          <span class="toolbar-label">登记位置</span>
        </a>
      </div>
      <div class="col-50">
        <a class="link button" id="whoisreading" href="#whoisreading/<%= bookjson.isbn13 || bookjson.isbn10 %>">
          <i class="icon ion-ios7-people"></i>
          <span class="toolbar-label">谁在看</span>
        </a>
      </div>
    </div>
    <% } else { %>
    <div class="row">
      <div class="col-25">&nbsp;</div>
      <div class="col-50">
        <a class="link button" id="whoisreading" href="#whoisreading/<%= bookjson.isbn13 || bookjson.isbn10 %>">
          <i class="icon ion-ios7-people"></i>
          <span class="toolbar-label">谁在看</span>
        </a>
      </div>
      <div class="col-25">&nbsp;</div>
    </div>
    <% } %>
    </div>
  </div>
  <div class="content-block-title">
    详细
  </div>
  <div class="list-block">
    <ul>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-barcode">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          ISBN
        </div>
        <div class="item-after">
          <%= bookjson.isbn13 || bookjson.isbn10 %>
        </div>
      </div>
      </li>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-home">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          出版社
        </div>
        <div class="item-after">
          <%= bookjson.publisher %>
        </div>
      </div>
      </li>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-calendar">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          出版时间
        </div>
        <div class="item-after">
          <%= bookjson.pubdate %>
        </div>
      </div>
      </li>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-paper">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          页数
        </div>
        <div class="item-after">
          <%= bookjson.pages %>
        </div>
      </div>
      </li>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-star">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          豆瓣评分
        </div>
        <div class="item-after">
          <%= bookjson.rating.average || '无' %>
        </div>
      </div>
      </li>
      <li class="item-content">
      <div class="item-media">
        <i class="icon ion-ios7-pricetag">
        </i>
      </div>
      <div class="item-inner">
        <div class="item-title">
          标签
        </div>
        <div class="item-after">
          <%= _.map(bookjson.tags.slice(0, 3), function(t){return t.name}).join(', ') || '无' %>
        </div>
      </div>
      </li>
    </ul>
  </div>

  <div class="content-block-title">
    简介
  </div>
  <div class="content-block">
    <div class="content-block-inner">
      <%= bookjson.summary || '没有简介' %>
    </div>
  </div>
  <% } else { %>
  <div class="content-block" style="text-align: center">
      <p>获取图书信息失败</p>
  </div>
  <% } %>
 </div>
