
<div class="content-block">
  <div class="circular"><img src="<%= avatar %>" /></div>
  <div class="username"><%= username %></div>
  <div class="list-block">
    <div class="list-group">
      <ul>
        <li class="item-content list-panel-all close-panel item-link" href="#scanbarcode">
        <div class="item-media"><i class="icon ion-ios7-barcode"></i></div>
        <div class="item-inner">
          <div class="item-title">扫一扫</div>
        </div>
        </li>
        <li class="item-content list-panel-all close-panel item-link" href="#addbook">
        <div class="item-media"><i class="icon ion-ios7-plus"></i></div>
        <div class="item-inner">
          <div class="item-title">添加</div>
        </div>
        </li>
        <li class="item-content list-panel-all close-panel item-link" href="#settings">
        <div class="item-media"><i class="icon ion-ios7-toggle"></i></div>
        <div class="item-inner">
          <div class="item-title">设置</div>
        </div>
        </li>
        <li class="item-content list-panel-all close-panel item-link" href="#logout">
        <div class="item-media"><i class="icon ion-ios7-close"></i></div>
        <div class="item-inner">
          <div class="item-title">登出</div>
        </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="list-block">
    <div class="list-group">
      <ul>
        <li class="item-content list-panel-all close-panel item-link" href="#about">
        <div class="item-media"><i class="icon ion-ios7-information"></i></div>
        <div class="item-inner">
          <div class="item-title">关于</div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
