<div class="page">
  <div class="content-block-title">SignIn</div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" placeholder="UserName" id="username"> 
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="password" placeholder="password" id="password">
            </div>
          </div>
        </div>
      </li>  
    </ul>
    <div class="content-block">
      <div class="row">
        <div class="col-50">
          <a class="button button-big button-round">SignUp</a>
        </div>
        <div class="col-50">
          <a class="button button-big button-submit button-round">SignIn</a>
        </div>
      </div>
    </div>
  </div>
</div>