<div class="page">
  <div class="content-block">
    <div class="row">
      <div class="col-25">&nbsp;</div>
      <div class="col-50" style="text-align: center">
        <img src="images/bkr.png" alt="">
      </div>
      <div class="col-25">
        <a class="button button-round link" href="#register" id="signup">注册</a>
      </div>
    </div>
  </div>
  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="text" placeholder="用户名" id="username"> 
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-input">
              <input type="password" placeholder="密码" id="password">
            </div>
          </div>
        </div>
      </li>  
    </ul>
    <div class="content-block">
      <div class="row">
        <div class="col-50">
          <a class="button button-big button-cancel button-round" id="reset">重置</a>
        </div>
        <div class="col-50">
          <a class="button button-big button-submit button-round" id="signin">登录</a>
        </div>
      </div>
    </div>
  </div>
</div>
