<div class="navbar">
  <div class="navbar-inner navbar-on-center">
    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
    <div class="left sliding">
      <a href="<%= back %>" class="link"><i class="icon icon-back-blue"></i><span>Back</span></a>
    </div>
    <div class="center sliding"><%= username %></div>
  </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <div class="page page-on-center" data-page="index">
    <div class="page-content tabs">
      people view on <%= username %>
      <div class="row">
        <div class="col-25">&nbsp;</div>
        <div class="col-50"><button class="button button-big button-round" id="sayyo">Yo!</button></div>
        <div class="col-25">&nbsp;</div>
      </div>
    </div>

  </div>
</div>