<div class="content-block yoo">
  <div class="banner">
    <div class="circular"><img src="<%= avatar %>" /></div>
    <div class="username"><%= username %></div>
  </div>
  <div class="describe">
    交换联系方式
  </div>
  <div class="row">
    <div class="col-33">&nbsp;</div>
    <div class="col-33">
      <a class="button">戳一下</a>
    </div>
    <div class="col-33">&nbsp;</div>
  </div>
</div>

<div class="content-block-title">最近标记过</div>
<div class="content-block">
  <div class="content-block-inner">
  </div>
</div>
