<div class="content-block yoo">
  <div class="banner">
    <div class="circular"><img src="<%= avatar %>" /></div>
    <div class="username"><%= username %></div>
  </div>
<% if (!is_me) { %>
<% if (yoo_times.yooes > 0 && yoo_times.yooed < 1) { %>
  <div class="describe">
  您已经戳了 <%= yoo_times.yooes %> 次
  </div>
  <div class="row">
    <div class="col-33">&nbsp;</div>
    <div class="col-33">
      <a id="sayyoo" class="button yoo-again">再戳</a>
    </div>
    <div class="col-33">&nbsp;</div>
  </div>
  <% } else if (yoo_times.yooed > 0 && yoo_times.yooes < 1) { %>
  <div class="describe">
    您被戳了 <%= yoo_times.yooed %> 次，回戳以交换联系方式
  </div>
  <div class="row">
    <div class="col-33">&nbsp;</div>
    <div class="col-33">
      <a id="sayyoo" class="button yoo-back">回戳</a>
    </div>
    <div class="col-33">&nbsp;</div>
  </div>
  <% } else if (yoo_times.yooed > 0 && yoo_times.yooes > 0) { %>
  <div class="describe">
    双方已互戳
  </div>
  <div class="row">
    <div class="col-33">&nbsp;</div>
    <div class="col-33">
      <a class="button yoo-finish">互戳成功</a>
    </div>
    <div class="col-33">&nbsp;</div>
  </div>
</div>
  <div class="content-block-title">联系方式</div>
  <div class="list-block contact">
    <ul>
      <li>
      <a class="item-link item-content" href="mailto:<%= otheruser.get('email') %>">
        <div class="item-media">
          <i class="ion-ios7-email"></i>
        </div>
        <div class="item-inner">
          <div class="item-title">Email</div>
          <div class="item-after"><%= otheruser.get('email') %></div>
        </div>
      </a>
      </li>
      <% if (otheruser.get('wxnumber')) { %>
      <li>
      <a class="item-link item-content" href="weixin:<%= otheruser.get('wxnumber') %>">
        <div class="item-media">
          <i class="ion-ios7-at"></i>
        </div>
        <div class="item-inner">
          <div class="item-title">微信</div>
          <div class="item-after"><%= otheruser.get('wxnumber') %></div>
        </div>
      </a>
      </li>
      <% } %>
      <% if (otheruser.get('qqnumber')) { %>
      <li>
      <a class="item-link item-content" href="mqq:<%= otheruser.get('qqnumber') %>">
        <div class="item-media">
          <i class="ion-ios7-at"></i>
        </div>
        <div class="item-inner">
          <div class="item-title">QQ</div>
          <div class="item-after"><%= otheruser.get('qqnumber') %></div>
        </div>
      </a>
      </li>
      <% } %>
      <% if (otheruser.get('telephone')) { %>
      <li>
      <a class="item-link item-content" href="tel:<%= otheruser.get('telephone') %>">
        <div class="item-media">
          <i class="ion-ios7-telephone"></i>
        </div>
        <div class="item-inner">
          <div class="item-title">电话</div>
          <div class="item-after"><%= otheruser.get('telephone') %></div>
        </div>
      </a>
      </li>
      <% } %>
    </ul>
<% } else { %>
  <div class="describe">
    交换联系方式
  </div>
  <div class="row">
    <div class="col-33">&nbsp;</div>
    <div class="col-33">
      <a id="sayyoo" class="button">戳一下</a>
    </div>
    <div class="col-33">&nbsp;</div>
  </div>
<% } %>
<% } %>
</div>

<% if (books.length) { %>
<div class="content-block-title">最近标记过</div>
<div class="list-block media-list book-list">
  <ul>
    <% _.each(books, function(book){ %>
    <li>
    <a href="#book/<%= book.isbn13 || book.isbn10 %>" class="item-link item-content">
      <div class="item-media"><img src="<%= book.images.medium %>" height="60"></div>
      <div class="item-inner">
        <div class="item-title-row">
          <div class="item-title"><%= book.title %></div>
          <div class="item-after">
            <i class="ion-ios7-star"></i>
            <%= book.rating.average %>
          </div>
        </div>
        <div class="item-subtitle">
          <% 
          if (book.author instanceof Array) print(book.author.join(', '));
          else print(book.author);
          %>
        </div>
        <% if (book.distance) { %>
        <div class="item-text">距离 <%= book.distance %> km</div>
        <% } %>
      </div>
    </a>
    </li>
    <% }) %>
  </ul>
</div>
<% } else { %>
<div class="content-block">
  <div class="content-block-inner no-books">
    对方还未标记过图书。
  </div>
</div>
<% } %>
