<div class="page popup">
	<div class="content-block-title">SignUp</div>	
	<div class="list-block">
		<ul>
			<li>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-input">
							<input type="text" placeholder="UserName" id="username">
						</div>
						<div class="input-after" id="username-info"></div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-input">
							<input type="password" placeholder="PassWord" id="password">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-input">
							<input type="email" placeholder="Email" id="email">
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="content-block">
			<div class="row">
				<div class="col-50">
					<a class="button button-big button-round">Reset</a>
				</div>
				<div class="col-50">
					<a class="button button-big button-submit button-round">SignUp</a>
				</div>
			</div>
		</div>
	</div>
</div>