<div class="list-block">
  <% if (people.length) { %>
  <ul>
    <% _.each(people, function(person){ %>
    <li>
    <a href="#people/<%= person.get('username') %>" class="item-link item-content link">
      <div class="item-media">
        <img class = "avatar" src="<%=avatar(30, person)%>">
      </div>
      <div class="item-inner">
        <div class="item-title"><%=person.get('username') %></div>
      </div>
    </a>
    </li>
    <%}) %>
  </ul>
  <% } else { %>
  <p>还没有人登记这本书，快去登记吧！</p>
  <% } %>
</div>
