<div class="list-block">
	<ul>
		<% _.each(yoos, function(yoo){ %>
		<li>
			<a href="#people/<%=yoo.get('fromUser').get('username')%>" class="item-link item-content link">
				<div class="item-media">
					<img src="<%=avatar(30, yoo.get('fromUser'))%>">
				</div>
				<div class="item-inner">
					<div class="item-title"><%=yoo.get('fromUser').get('username') %></div>
					<div class="item-after">
						<span class="badge">
							<% if(yoo.get('binary')){%>好友<%}else{%>该用户戳了你一下<%}%>
						</span>
					</div>
				</div>
			</a>
		</li>
		<%}) %>
	</ul>
</div>